* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 12px;
  font-family: system-ui;
  color: #999999;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 200px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  margin-top: 20px;
}

input {
  width: 90%;
  height: 29px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  margin: 20px;
  padding-left: 10px;
}

button {
  width: 40%;
  height: 22.9px;
  border: 1px solid #999999;
  border-radius: 4px;
  background: #999999;
  color: #ffffff;
}

p {
  margin-top: 10px;
}